include README.md
include futaam/interfaces/ui/aboutDialog.ui
include futaam/interfaces/ui/addDialog.ui
include futaam/interfaces/ui/deleteDialog.ui
include futaam/interfaces/ui/editDialog.ui
include futaam/interfaces/ui/gui.ui
include futaam/interfaces/ui/infoDialog.ui
include futaam/interfaces/ui/newDbDialog.ui
include futaam/interfaces/ui/statsDialog.ui
include futaam/interfaces/ui/swapDialog.ui
include futaam/docs/GUI_Interface_Info.md
include futaam/docs/protocol
